<html>
<head>
<title>activity_outdoor.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
.s4 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_outdoor.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s0">&gt;</span>

    <span class="s4">&lt;!--AppBarLayout : 액션바 영역--&gt;</span>
    <span class="s0">&lt;com.google.android.material.appbar.AppBarLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:theme</span><span class="s2">=&quot;@style/AppTheme.AppBarOverlay&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!--Toolbar : 툴바--&gt;</span>
        <span class="s4">&lt;!--android:elevation : 객체의 z값을 올려준다--&gt;</span>
        <span class="s0">&lt;androidx.appcompat.widget.Toolbar</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/toolbar_outdoor&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
            <span class="s1">android:background</span><span class="s2">=&quot;?attr/colorPrimary&quot;</span>
            <span class="s1">app:popupTheme</span><span class="s2">=&quot;@style/AppTheme.PopupOverlay&quot; </span><span class="s0">/&gt;</span>
        <span class="s4">&lt;!--//Toolbar--&gt;</span>
    <span class="s0">&lt;/com.google.android.material.appbar.AppBarLayout&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot; </span><span class="s0">&gt;</span>

        <span class="s3">﻿</span><span class="s0">&lt;Spinner</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/spinner_sido&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;Spinner</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/spinner_gungu&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_weight</span><span class="s2">=&quot;1&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;Button</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/btn_ok&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;입력&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;50dp&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;위치&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView_sido&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;미세먼지&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView_pm10&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
    <span class="s0">&lt;LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;TextView</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;50dp&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;초미세먼지&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/textView_pm25&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;10dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#000&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/LinearLayout&gt;</span></pre>
</body>
</html>